<div class='container'>
  <div class='wrapper'>
    <h5>Interests</h5>

      <%= simple_form_for(current_user, url: profile_path) do |f| %>
        <div class='mb-3 card-interests'>
          <%= f.input :interests,:collection => User::INTERESTS,:label => false ,:include_blank => false, as: :check_boxes, input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item', include_hidden: false %>

        </div>
        <%= f.input :age,
                            label: "Age",
                            autofocus: true,
                            input_html: { class: 'input_field' }%>
        <%= f.input :preferred_age, :collection => ["18-22","22-26","26-30","30-34","34-38"],
                            label: "preferred age",
                            autofocus: true,
                            input_html: { class: 'input_field' }%>
        <%= f.input :gender, :collection => ["Male", "Female"],
                            label: "Your Gender",
                            autofocus: true,
                            input_html: { autocomplete: "Your Gender", class: 'input_field' }%>
        <%= f.input :preferred_gender, :collection => ["Male", "Female"],
                            label: "Preffered Gender",
                            autofocus: true,
                            input_html: { autocomplete: "Preffered Gender", class: 'input_field' }%>
        <%= f.input :biography,
                            label: "Biography",
                            autofocus: true,
                            input_html: { class: 'input_field' }%>

                  <%= f.submit "save profile", class:'btn-save' %>
        <% end %>
  </div>
</div>
