<div id="container">
  <% @relationship.messages.each do |message| %>
    <% if message.user == current_user %>
      <div class="right-chat">
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        <p><%= message.content %></p>
      </div>
    <% else %>
      <div class="left-chat text-left">
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  <% end %>
</div>
<%= simple_form_for [@relationship, @message], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Say something!" %>
  <%= f.submit %>
<% end %>
