<div class="content-container">

  <div class="chat-buttons-top">
    <% if current_user.id == @relationship.partner_1.id %>
      <div><%= link_to "#{@relationship.partner_2.name}", user_path(@relationship.partner_2), class: "chat-buttons view-profile-link" %></div>
    <% elsif current_user.id == @relationship.partner_2.id %>
      <div><%= link_to "#{@relationship.partner_1.name}", user_path(@relationship.partner_1), class: "chat-buttons view-profile-link" %></div>
    <% end %>
    <div><%= link_to "Unmatch", relationship_path, method: :delete, class: "chat-buttons delete-match-link" %></div>
  </div>

  <div class="affinity-layout mb-2">
    <%# raise %>
    <div><%= link_to "", decrease_affinity_relationship_path(@relationship), method: :patch, class: "fas fa-caret-right affinity-button-minus affinity-button" %></div>
    <div class="affinity-bar" style="background-image: linear-gradient(to right, <%= @relationship.affinity_color %>, <%= @relationship.affinity_color(saturation: "90%", luminosity: "80%") %>);"><p class="affinity-bar-label text-center affinity-label w-100">Compatibility</p></div>
    <div><%= link_to "", increase_affinity_relationship_path(@relationship), method: :patch, class: "fas fa-caret-left affinity-button-plus affinity-button"  %></div>
  </div>

  <div class="chat-messages-box"
       id="messages"
       data-current-user-id="<%= current_user.id %>"
       data-relationship-id="<%= @relationship.id %>">
    <% @relationship.messages.each do | message | %>
      <%= render "messages/message", message: message, user: current_user %>
    <% end %>
  </div>
  <div class="chat-form text-center" id="msg-container">
    <%= simple_form_for [@relationship, @message],
                        html: { class:"msg-form" },
                        remote: true do |f| %>
      <%= f.input :content,
                  class: "chat-form-field text-center",
                  label: false, placeholder: "Say something!" %>
      <%= f.submit class: "msg-submit mt-0", value: "Send", data: { disable_with: false } %>
    <% end %>
  </div>
</div>
