<div id="messages" data-chatroom-id="<%= @relationship.id %>">
  <% @relationship.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.relationship.partner_1.name %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>
<%= simple_form_for @message, url: relationship_messages_path(@relationship), remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Say something!" %>
  <%= f.submit %>
<% end %>
