<div class='profile-card'>
  <div class="text-center">
    <% if user.photo.attached? %>
      <%= cl_image_tag user.photo.key, class: "avatar_user", alt: "avatar" %>
    <% elsif !user.photo.attached? && user.gender == 'Male' %>
      <%= image_tag "Bitmoji.png", class: "avatar_user", alt: "avatar" %>
    <% elsif !user.photo.attached? && user.gender == 'Female' %>
      <%= image_tag "bitmojigirlblackhair.png", class: "avatar_user", alt: "avatar" %>
    <% end %>
    <div>
      <% if user.id == current_user.id %>
        <%= link_to edit_profile_path do %>
          <i class="fas fa-user-edit"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <div class='container-header'>
    <div class=''>
      <i class="fas fa-eye"></i>
      <% if user.preferred_gender == 'Male' %>
        <i class="fas fa-male"></i>
      <% else  %>
        <i class="fas fa-female"></i>
      <% end %>
    </div>
    <h1><%= "#{user.name}, #{user.age}" %></h1>
  </div>

<h5><i class="fas fa-book-reader"></i> <strong>Bio</strong></h5>
<div class='Bio'>
  <p><%= user.biography %></p>
</div>
<div class='mb-3'>
  <h5><i class="fas fa-star"></i><strong>My interests</strong></h5>
  <div class='row p-4'>
    <% user.interests.each do |interest| %>
      <%# if interest != "" %>
      <div class="col-6">
        <div class='custom-tag'>
          <%= interest %>
        </div>
      </div>
      <%# end %>
    <% end %>
  </div>
</div>
