<div class="banner" style="background-image: url(<%= image_path('blindly-bkg.png') %>);">
  <div>
    <h1><strong>Blindly</strong></h1>
    <p>Do you dare to step out of your comfort zone? </p>
    <%= if !user_signed_in?
      link_to new_user_registration_path do %>
      <button type='button' class='btn btn-outline-light btn-lg'>Sign Up</button>
      <%= link_to new_user_session_path do %>
        <button type='button' class='btn btn-outline-light btn-lg'>Log In</button>
      <% end %>
    <% end %>
  <% end %>
</div>
</div>
<div class="hp-cards-container">
  <div class="hp-cards">
    <div class="card-category text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('find.png') %>)">
      Step 1: Find a potential partner based on common interests.
    </div>
    <div class="card-category text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('chat.png') %>)">
      Step 2: Get to know one another.
    </div>
    <div class="card-category text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('meet.png') %>)">
      Step 3: Meet up in the real world.
    </div>
  </div>
</div>
